In [8]:
import requests
import json
import pandas as pd
import numpy as np
import os
import pycountry
from datetime import datetime, timedelta
from pandas import json_normalize

In [ ]:
topfolder = '/Users/sahoko/GitHub/Food-insecurity-GP-forecasting/'
datafolder = os.path.join(topfolder,'Data/New/FoodSecurity')
os.chdir(topfolder)

In [14]:
def FCI_request(country_iso3, days_to_goback, num_day):
    today_dt = datetime.today()
    st_date_dt = today_dt - timedelta(days=days_to_goback)
    en_date_dt = st_date_dt + timedelta(days = num_day)
    st_date = st_date_dt.strftime('%Y-%m-%d')
    en_date = en_date_dt.strftime('%Y-%m-%d')
    r = requests.get(f"https://api.hungermapdata.org/v1/foodsecurity/country/{country_iso3}/region?date_start={st_date}&date_end={en_date}")
    print(r)
    
    return json_normalize(r.json())

In [15]:
df = FCI_request('NGA', 500,99)

<Response [200]>

In [18]:
df.describe(include='all')

,date,dataType,country.id,country.name,country.iso3,country.iso2,region.id,region.name,region.population,metrics.fcs.people,metrics.fcs.prevalence,metrics.rcsi.people,metrics.rcsi.prevalence,metrics.healthAccess.people,metrics.healthAccess.prevalence,metrics.marketAccess.people,metrics.marketAccess.prevalence,metrics.livelihoodCoping.people,metrics.livelihoodCoping.prevalence
count,3700,3700,3700.0,3700,3700,3700,3700.000000,3700,3.700000e+03,3.700000e+03,3700.000000,3.700000e+03,3700.000000,2.800000e+03,2800.000000,2.800000e+03,2800.000000,2.800000e+03,2800.000000
unique,100,2,NaN,1,1,1,NaN,37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,2022-10-11,SURVEY,NaN,Nigeria,NGA,NG,NaN,Adamawa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,37,2800,NaN,3700,3700,3700,NaN,100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,182.0,NaN,NaN,NaN,24528.081081,NaN,5.479960e+06,1.542953e+06,0.273700,1.249996e+06,0.233502,1.476258e+06,0.545467,2.020487e+06,0.354098,3.036151e+06,0.263471
std,NaN,NaN,0.0,NaN,NaN,NaN,30308.752629,NaN,2.532688e+06,1.099266e+06,0.116531,7.590959e+05,0.120602,8.404693e+05,0.083375,1.017406e+06,0.096239,1.559508e+06,0.039526
min,NaN,NaN,182.0,NaN,NaN,NaN,2211.000000,NaN,2.394195e+06,3.539440e+05,0.081429,2.408930e+05,0.076749,3.904760e+05,0.344186,6.504470e+05,0.190152,1.018636e+06,0.176319
25%,NaN,NaN,182.0,NaN,NaN,NaN,2222.000000,NaN,3.802539e+06,7.776255e+05,0.161411,6.339690e+05,0.134586,8.450020e+05,0.491677,1.225544e+06,0.292528,1.859922e+06,0.235952
50%,NaN,NaN,182.0,NaN,NaN,NaN,2231.000000,NaN,4.915325e+06,1.232278e+06,0.246001,1.065404e+06,0.198109,1.269453e+06,0.562699,1.757304e+06,0.336761,2.806124e+06,0.259400
75%,NaN,NaN,182.0,NaN,NaN,NaN,65701.000000,NaN,6.109666e+06,1.999380e+06,0.372921,1.690064e+06,0.319658,1.881976e+06,0.604985,2.632862e+06,0.379600,3.587657e+06,0.289810
max,NaN,NaN,182.0,NaN,NaN,NaN,65710.000000,NaN,1.493617e+07,7.260769e+06,0.617824,3.776255e+06,0.641771,4.466779e+06,0.756297,5.533177e+06,0.705220,9.184098e+06,0.373211

In [21]:
for i in [400,300,200,100]:
    df_tmp = FCI_request('NGA', i, 99)
    df = df.append(df_tmp)

<Response [200]>

/var/folders/ym/jhpnwhvd4p54fz414vlsdlsh0000gn/T/ipykernel_1210/872338164.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_tmp)

<Response [200]>

/var/folders/ym/jhpnwhvd4p54fz414vlsdlsh0000gn/T/ipykernel_1210/872338164.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_tmp)

<Response [200]>

/var/folders/ym/jhpnwhvd4p54fz414vlsdlsh0000gn/T/ipykernel_1210/872338164.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_tmp)

<Response [200]>

/var/folders/ym/jhpnwhvd4p54fz414vlsdlsh0000gn/T/ipykernel_1210/872338164.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_tmp)

In [25]:
df.describe(include="all")

,date,dataType,country.id,country.name,country.iso3,country.iso2,region.id,region.name,region.population,metrics.fcs.people,metrics.fcs.prevalence,metrics.rcsi.people,metrics.rcsi.prevalence,metrics.healthAccess.people,metrics.healthAccess.prevalence,metrics.marketAccess.people,metrics.marketAccess.prevalence,metrics.livelihoodCoping.people,metrics.livelihoodCoping.prevalence
count,18500,18500,18500.0,18500,18500,18500,18500.000000,18500,1.850000e+04,1.850000e+04,18500.000000,1.850000e+04,18500.000000,1.400000e+04,14000.000000,1.400000e+04,14000.000000,1.400000e+04,14000.000000
unique,500,2,NaN,1,1,1,NaN,37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,2022-10-11,SURVEY,NaN,Nigeria,NGA,NG,NaN,Adamawa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,37,14000,NaN,18500,18500,18500,NaN,500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,182.0,NaN,NaN,NaN,24528.081081,NaN,5.479960e+06,2.113395e+06,0.376780,1.305989e+06,0.240000,1.547855e+06,0.628230,1.872036e+06,0.329308,3.189478e+06,0.277825
std,NaN,NaN,0.0,NaN,NaN,NaN,30305.475653,NaN,2.532414e+06,1.473589e+06,0.156737,7.851412e+05,0.105528,8.491347e+05,0.082798,9.970121e+05,0.115372,1.603883e+06,0.038055
min,NaN,NaN,182.0,NaN,NaN,NaN,2211.000000,NaN,2.394195e+06,3.539440e+05,0.081429,2.408930e+05,0.076749,3.904760e+05,0.344186,4.978710e+05,0.163587,1.018636e+06,0.176319
25%,NaN,NaN,182.0,NaN,NaN,NaN,2222.000000,NaN,3.802539e+06,1.141487e+06,0.235348,7.172575e+05,0.162755,9.117940e+05,0.583406,1.102908e+06,0.260091,2.074869e+06,0.250420
50%,NaN,NaN,182.0,NaN,NaN,NaN,2231.000000,NaN,4.915325e+06,1.747820e+06,0.352192,1.095889e+06,0.215160,1.324751e+06,0.636504,1.609076e+06,0.294794,2.853274e+06,0.274980
75%,NaN,NaN,182.0,NaN,NaN,NaN,65701.000000,NaN,6.109666e+06,2.641375e+06,0.501867,1.759501e+06,0.278887,2.026509e+06,0.687824,2.519082e+06,0.355059,3.782667e+06,0.306040
max,NaN,NaN,182.0,NaN,NaN,NaN,65710.000000,NaN,1.493617e+07,1.041768e+07,0.808651,5.072740e+06,0.641771,5.360231e+06,0.839864,5.533177e+06,0.746526,1.034601e+07,0.377795

In [ ]:
country_list = ['Burkina Faso','Nigeria','Mari']
for country in country_list: